[Install]
WantedBy=multi-user.target

[Unit]
Description=Logspout is a log router for Docker containers that runs inside Docker.
Documentation=https://github.com/lindenlab/logspout
After=ll-pgi-config.target docker.service
Requires=ll-pgi-config.target docker.service

[Service]
EnvironmentFile=/etc/default/ec2meta 
EnvironmentFile=/etc/default/logspout
ExecStart=/bin/bash -c "DOCKER_HOST=tcp://${PRIVATE_IPV4}:2375 /usr/bin/logspout $LOGSPOUT_OPTS" 
Restart=always
RestartSec=60

